body {
    font-family: new Helvetica, Arial, sans-serif;
}
textarea {
    width: 100%;
    height: 100px;
    overflow: scroll;
    margin: 2px;
}
.sensors {
    font-size: 10px;
}
.console {
    font-size: 12px;
}
.console textarea {
    height: 294px;
}
