body {
    font-family: new Helvetica, Arial, sans-serif;
}
textarea {
    width: 100%;
    height: 100px;
    overflow: scroll;
    margin: 2px;
}
h1, h2, h3, h4 {
    text-align: center;
}
.sensors {
    font-size: 10px;
}
.console {
    font-size: 12px;
}
.console textarea {
    height: 294px;
}
#chart {
    width: 100%;
    height: 300px;
}
