body {
    font-family: new Helvetica, Arial, sans-serif;
}
textarea {
    width: 100%;
    height: 100px;
    overflow: scroll;
    margin: 2px;
}
h1, h2, h3, h4 {
    text-align: center;
}
.sensors {
    font-size: 10px;
}
.console {
    font-size: 12px;
}
.console textarea {
    height: 294px;
}
#sonicChart, #pumpChart, #pressureChart {
    height: 300px;
    width: 90%;
    padding: auto;
    margin: auto;
}